<section id="course">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Die Strecke</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container text-center">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1X62YVnOmL8sGGZiRi-IgCHnJVF7i-Otq" width="960" height="480"></iframe>

  </div>
</section>
