<section id="faq" style="background-color: #F05F40; ">
    <div class="container">
        <div class="row" style="color: white;"">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary" style="color:white;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="list-group">
              <li class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h4><b>Wie lang ist eine Runde?</b></h4>
                      <small></small>
                  </div>
                  <p>Eine Runde ist 4 Meilen 880 Fuss oder 6.7056 Kilometer lang sein. Sie ist exakt so lang, dass in 24 Stunden 100 Meilen gelaufen werden.</p>
              </li>
              <li class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h4><b>Wann startet eine Runde?</b></h4>
                      <small></small>
                  </div>
                  <p>Jede Runde startet exakt 1 Stunde nach der Nächsten, danach muss der Läufer loslaufen und darf nicht mehr zu seiner persönlichem Bereich zurückkehren. Ein Warnsignal ertönt 3,2 bzw. 1 Minute davor.</p>
              </li>
              <li class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h4><b>Wie habe ich mich auf der Runde zu verhalten?</b></h4>
                      <small></small>
                  </div>
                  <p>Der Kurs darf zu keinem Zeitpunkt verlassen werden, außer um die Toilette zu benutzen. Es darf keine Hilfe von außen angeommen werden und es sind auch keine Zuschauer an der Strecke erlaubt.</p>
              </li>
              <li class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h4><b>Wie wird der Gewinner ermittelt?</b></h4>
                      <small></small>
                  </div>
                  <p>Beendet ein Läufer eine Runde allein, weil alle anderen davor aufgegeben haben, dann wird er als Finisher gewertet und steht somit als Sieger fest. Der Rest wird als DNF gewertet. Wird von keinem Läufer eine Runde allein beendet, weil alle übriggebliebenden Teilnehmer in der selben Runde aufgeben haben, dann gibt es keinen Sieger.</p>
              </li>
              <li class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h4><b>Werde ich für mich und meine Begleiter genügend Platz haben?</b></h4>
                      <small></small>
                  </div>
                  <p>Ja, für jeden Teilnehmer wird es einen Bereich geben, in dem er sich ausbreiten kann und auch einen Pavillion aufstellen kann. Zusätzlich werden wir Besucherparkplätze zur Verfügung stellen, so dass jeder Zuschauen kommen kann der will</p>
              </li>
          </div>
        </div>
    </div>
</section>
