<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alle Information zum Rennen</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary"></i>
                    <h3>Wann?</h3>
                    <p class="text-muted"> {{ site.date }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Wo?</h3>
                    <p class="text-muted">Kornbeuburg</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Streckendaten</h3>
                    <p class="text-muted"> 6.7056 km / 0HM</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-euro wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Anmeldegebühren</h3>
                    <p class="text-muted"> 100 Euro </p>
                </div>
            </div>
        </div>
    </div>
</section>
