<section id="registration" style="background-color: #F05F40; color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anmeldung</h2>
                <hr class="primary">
                <p>Derzeit handelt es sich um einen Einladungslauf. Wollen Sie teilnehmen, dann kontaktieren Sie uns und wir besprechen ob noch freie Plätze vorhanden sind!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center white">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
        </div>
    </div>
</section>
