<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include infos.html %}
  {% include registration.html %}
  {% include course.html %}
  {% include faq.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
